doctype html
html
  include ../includes/header.pug

  body
    if alert
      div(class="alert alert-danger" role="alert") #{alert}

    if notice
      div(class="alert alert-primary" role="alert") #{notice}

    form(id="animalActionForm" class="col-lg-6 offset-lg-3" method="POST" action="/zoo/modify")
      div(class="form-group row justify-content-center mt-3")
        label(for="animalName" class="col-sm-2 col-form-label") Name
        div(class="col-sm-10")
          input(type="text" class="form-control" id="animalName" name="name" value=animal.name)

        label(for="animalSpecies" class="col-sm-2 col-form-label mt-2") Species
        div(class="col-sm-10 mt-2")
          select(id="animalSpecies" class="custom-select" name="species" aria-label=animal.species)
            option(value=animal.species selected) #{animal.species}
            - var otherSpecies = (animal.species == 'Mammal' ? 'Oviparous' : 'Mammal')
            option(value=otherSpecies) #{otherSpecies}

        label(for="animalType" class="col-sm-2 col-form-label mt-2") Type
        div(class="col-sm-10 mt-2")
          input(type="text" class="form-control" id="animalType" name="animal" value=animal.animal)

        label(for="animalEggs" class="col-sm-2 col-form-label mt-2") Eggs
        div(class="col-sm-10 mt-2")
          input(type="number" class="form-control" id="animalEggs" name="eggs" value=animal.eggs)

        label(for="animalNursing" class="col-sm-2 col-form-label mt-2") Nursing
        div(class="col-sm-10 mt-2")
          - var nursingStr = animal.nursing == 'true' ? "Yes" : "No"
          - var altNursing = animal.nursing == 'true' ? "No" : "Yes"
          select(id="animalNursing" class="custom-select" name="nursing" aria-label=nursingStr)
            option(value=nursingStr selected) #{nursingStr}
            option(value=altNursing) #{altNursing}

        label(for="animalTracking" class="col-sm-2 col-form-label mt-2") Tracking
        div(class="col-sm-10 mt-2")
          input(type="number" class="form-control" id="animalTracking" name="tracking" value=animal.tracking)

        button(type="submit" class="btn btn-outline-primary mx-sm-2 mb-2 mt-3" onclick="animalBtn('/zoo/modify')") Update
        button(type="submit" class="btn btn-outline-danger mx-sm-2 mb-2 mt-3" onclick="animalBtn('/zoo/delete')") Delete

    include ../includes/bodyend.pug
    script.
      function animalBtn(action) {
        var form = document.getElementById("animalActionForm")
        form.action = action
        form.submit()
      }